.page-layout {
  display: grid;
  grid-template-columns: 150px auto;
}

.categories-list {
  display: flex;
  flex-direction: column;
}

.category-btn {
  display: inline-block;
  background: navy;
  border: none;
  border-radius: 5px;;
  color:rgb(255, 255, 255);
  padding: 1rem;
  margin: 0.5rem;
  transition: all 0.3s;
}

.category-btn:hover {
  background: black;
}

.product-cards-wrap {
  display: grid;
  grid-template-columns:  repeat(3, 1fr);
}

.product-card {
  height: 250px;
  width: 200px;
  padding: 1rem;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 7px 5px 15px rgba(0, 0, 0, 0.125);
}

/* common classes */

.m1 {
  margin: 1rem;
}